<p>How you can proceed:</p>
<ul>
    <li>Verify the URL and try again.</li>
    <li>Self-host and run an <a
            href="https://docs.ipfs.tech/concepts/ipfs-implementations/?utm_source=bifrost&utm_medium=ipfsio&utm_campaign=error_pages"
            rel="noopener noreferrer">IPFS client</a> that verifies your data.</li>
    <li>Try diagnosing your request with the <a
            href="https://docs.ipfs.tech/reference/diagnostic-tools/?utm_source=bifrost&utm_medium=ipfsio&utm_campaign=error_pages"
            rel="noopener noreferrer">IPFS diagnostic tools</a>.</li>
    <li>Inspect the <a href="https://cid.ipfs.tech/?utm_source=bifrost&utm_medium=ipfsio&utm_campaign=error_pages"
            rel="noopener noreferrer">CID</a> or <a
            href="https://explore.ipld.io/?utm_source=bifrost&utm_medium=ipfsio&utm_campaign=error_pages"
            rel="noopener noreferrer">DAG</a>.</li>
</ul>
