<header id="header">
    <div class="ipfs-logo">&nbsp;</div>
    <nav>
        <a href="https://ipfs.tech?utm_source=bifrost&utm_medium=ipfsio&utm_campaign=error_pages" target="_blank"
            rel="noopener noreferrer">About<span class="dn-mobile">
                IPFS</span></a>
        <a href="https://docs.ipfs.tech/install/?utm_source=bifrost&utm_medium=ipfsio&utm_campaign=error_pages"
            target="_blank" rel="noopener noreferrer">Install<span class="dn-mobile"> IPFS</span></a>
    </nav>
</header>
